$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;
$text-color: #FFFFFF;
$accent-color: #FF5252;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;